/**
 * Since this is only a prototype
 * everything is cramped up in a
 * single file.
 * Also, no comments. :-)
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:100|Raleway:100|Material+Icons');

.material-icons {
    font-size: inherit !important;
    line-height: inherit !important;
}

body {
    font-family: 'Roboto', 'Roboto Condensed', 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 13px;
    background: #364646;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', 'Roboto', 'Roboto Condensed', 'Roboto', sans-serif;
    font-weight: 100;
}

.page {
    position: fixed;
    top: 200%;
    left: 200%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: 500ms all;
}
.page.active {
    display: block;
    top: 0;
    left: 0;
}

.page p {
    padding: 10px;
}

.huge-title {
    font-size: 100px;
}
.medium-subtitle {
    font-size: 20px !important;
}

.top-level-banner {
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: url(/Images/overwatch_bg.jpg) -100px -100px;
    color: #FFF;
}

.page .bg-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 250;
    background: rgba(0, 0, 0, 0.45);
}

.page main {
    z-index: 500;
    margin-top: 70px;
    margin-bottom: 70px;
    height: calc(100% - 140px);
}

.common--text-align-center {
    text-align: center;
}
.common--display-none {
    display: none !important;
}
.common--display-inline-block {
    display: inline-block !important;
}
.pad-left-20 {
    padding-left: 20px;
}
.color-black {
    color: #212121;
}

.nav-button {
    position: fixed;
    z-index: 600;
    background: transparent;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    font-size: 40px !important;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: 300ms all;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.67);
}
.nav-button:hover {
    box-shadow: 0 0 8px rgba(0,0,0,.18), 0 8px 16px rgba(0,0,0,.36);
}
.nav-button.up {
    top: 20px;
    left: calc(50% - 25px);
}
.nav-button.up:hover {
    animation: push-pull-up 500ms;
}
.nav-button.down {
    bottom: 20px;
    left: calc(50% - 25px);
}
.nav-button.down:hover {
    animation: push-pull-down 500ms;
}

#about {
    background: #FFEB3B;
    color: #212121;
}
#roster {
    background: #E91E63;
    color: #FFFFFF;
}
#join {
    background: #2196F3;
    color: #FFFFFF;
}

@keyframes push-pull-up {
    0% {
        top: 20px;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 20px;
    }
}
@keyframes push-pull-down {
    0% {
        bottom: 20px;
    }
    50% {
        bottom: 10px;
    }
    100% {
        bottom: 20px;
    }
}